* {
    text-decoration: none;
}

.navbar {
    background-color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
}

button {
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

button a {
    color: wheat;
}